<?php

/** Configuration */

$remote_directory = '';
$ssh_user = ''; // remote ssh user
$ssh_host = ''; // remote hostname or alias
$theme_directory = ''; // 'web/app/themes/theme_dir'

$apache_user = 'apache'; // ex: 'apache' or 'www-data'
$apache_group = 'apache'; // ex: 'apache' or 'www-data'

/** Stop editing */

// Get CLI arguments

$args = getopt('', ['wordpress::', 'plugins::', 'uploads::']);

if (isset($args['wordpress'])){
	$include_wordpress = true;
}
else {
	$include_wordpress = false;
}

if (isset($args['plugins'])){
	$include_plugins = true;
}
else {
	$include_plugins = false;
}

if (isset($args['uploads'])){
	$include_uploads = true;
}
else {
	$include_uploads = false;
}

// Excludes

$local_site_directory = '.';
$local_gulpfile_path = "$theme_directory/gulpfile.babel.js";

$excluded_files = [
	'*.DS_Store',
	'deploy-to-*',
	'.htaccess',
	'.env',
	'.git',
	'.gitignore',
	'.travis.yml',
	'package.json',
	'Gruntfile.js',
	'composer.json',
	'composer.lock',
	'keys',
	'phpunit.xml.dist',
	'ruleset.xml',
	'readme.txt',
	'README.md',
	'LICENSE.md',
	'CONTRIBUTING.md',
	'CHANGELOG.md',
	'node_modules',
	"$theme_directory/assets/js",
	"$theme_directory/assets/scss",
	"$theme_directory/gulpfile.babel.js",
	"$theme_directory/gulpvars.js",
	"$theme_directory/node_modules",
	"$theme_directory/browserslist",
	"$theme_directory/package.json",
	"$theme_directory/bower.json",
	"$theme_directory/composer.json",
	"$theme_directory/composer.lock",
	"$theme_directory/devvars.js.example",
	"$theme_directory/devvars.js",
	"$theme_directory/phpunit.xml",
	"$theme_directory/.bowerrc",
	"$theme_directory/.gitignore",
	"$theme_directory/bin",
	"$theme_directory/tests",
	"web/app/plugins/timber/cache",

	// W3 Total Cache junk
	'web/app/advanced-cache.php',
	'web/app/cache',
	'web/app/object-cache.php',
	'web/app/db.php',
	'web/app/w3tc-config',
	'web/app/plugins/w3tc-wp-loader.php',

	// WP Super Cache Junk
	'web/app/wp-cache-config.php',

];

// If plugins are not included (excluding '--plugins' CLI arg)
if (!$include_plugins){
	$excluded_files[] = 'web/app/plugins';
}

// If Wordpress core is not included (excluding '--wordpress' CLI arg)
if (!$include_wordpress){
	$excluded_files[] = 'web/wp';
}

// If uploads directory is not included (excluding '--uploads' CLI arg)
if (!$include_uploads){
	$excluded_files[] = 'web/app/uploads';
}

////////////////////////
// Stop editing here! //
////////////////////////

function build_rysnc_exclusion(array $excluded_files){

	$command_array = array();

	foreach ($excluded_files as $file){
		$command_array[] = "--exclude=$file";
	}

	return implode(' ', $command_array);

}

$excluded_files_string = build_rysnc_exclusion($excluded_files);

$create_dir = "sudo mkdir $remote_directory";
$change_ownership_to_user = "sudo chown -R {$ssh_user}: $remote_directory";
$change_ownership_to_apache = "sudo chown -R $apache_user:$apache_group $remote_directory";

echo '** Starting deployment process **' . "\r\n";

echo '** Building Project **' . "\r\n";
echo shell_exec("php build-project.php");

echo '** Syncing changes **' . "\r\n";
echo shell_exec("ssh -t $ssh_user@$ssh_host '$change_ownership_to_user'");
echo shell_exec("rsync -avz --no-p $excluded_files_string $local_site_directory $ssh_user@$ssh_host:'$remote_directory'");
echo shell_exec("ssh -t $ssh_user@$ssh_host '$change_ownership_to_apache'");
echo 'Complete';

