/**
 * SCSS Components
 *
 * Styling for the site can be included here, or split into multiple files.
 * 
 */

/**
 * Spacing
 */

.section {
	padding: $spacing*2 0;
	@include mq-xsmall-max {
		padding: $spacing 0;
	}
}

.section--tight {
	padding: $spacing 0;
}

/**
 * Share Buttons
 */

.share-button {
	display: inline-block;
	font-size: 16px;
	width: 40px;
	height: 40px;
	line-height: 40px;
	background-color: lighten($gray-light, 30%);
	color: $gray;
	border-radius: 50%;
	text-align: center;
	&:hover, &:focus, &:active {
		color: $gray;
		transform: translateY(-5px);
	}
}

.share-button--facebook {
	background-color: $facebook;
	color: white;
	&:hover, &:focus, &:active {
		color: white;
	}
}

.share-button--twitter {
	background-color: $twitter;
	color: white;
	&:hover, &:focus, &:active {
		color: white;
	}
}

/**
 * Header
 */

.main-header {
	padding-top: $spacing/2;
}

.header-logo {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	@include mq-xsmall-max {
		display: block;
		text-align: center;
	}
}

.main-header__logo {
	width: 175px;
	@include mq-xsmall-max {
		width: 150px;
	}
}

.header-logo__right {

}

.header-logo__tagline {
	font-family: $font-family-sans-serif;
	font-weight: 600;
	font-size: 14px;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: $brand-primary;
	padding-left: $spacing/2;
	@include mq-xsmall-max {
		display: none
	}
}

/**
 * Footer
 */

.main-footer {
	background-color: black;
	color: white;
	padding: $spacing/2 0;
	text-align: center;
	font-size: 13px;
	font-family: $font-family-sans-serif;
	text-transform: uppercase;
	font-weight: 600;
	letter-spacing: 2px;
	color: rgba(white, 0.7);
	a {
		color: white;
		&:hover, &:active, &:focus {
			color: white;
		}
	}
}

/**
 * Single
 */

.single-header {
	text-align: center;
	margin-bottom: $spacing/2;
}

.single-title {
	font-size: 40px;
	text-transform: uppercase;
	margin: 0 0 $spacing/4 0;
	color: black;
	line-height: 1.1;
	a {
		font-size: 35px;
		color: black;
		&:hover, &:focus, &:active {
			color: $brand-primary;
			text-decoration: none;
		}
	}
}

.single-meta {
	font-family: $font-family-sans-serif;
	text-transform: uppercase;
	font-size: 13px;
	color: $brand-primary;
	letter-spacing: 2px;
	font-weight: 600;
	margin: 0 0 $spacing/3 0;
}

.single-meta__item {
	display: inline-block;
	&:not(:last-child){
		&:after {
			content: '·';
			display: inline-block;
			padding: 0 0.6em;
		}
	}
}

.single-thumbnail {
	margin-bottom: $spacing/1.5;
}

.single-thumbnail__img {
	box-shadow: 0 2px 4px rgba(black, 0.1);
}

.single-thumbnail__caption {
	font-size: 10px;
	letter-spacing: 0.5px;
	color: rgba($text-color, 0.6);
	font-family: $font-family-sans-serif;
	font-weight: 600;
	margin-top: 10px;
	text-align: center;
}

.single-post-content {
	margin-bottom: $spacing;
}

.single-share-buttons {
	text-align: center;
	margin: $spacing/2 0;
}

/**
 * Episode Teases
 */

.episode-tease {
	display: flex;
	align-items: flex-start;
	&:not(:last-child){
		margin-bottom: $spacing*1.5;
	}
	@include mq-xsmall-max {
		display: block;
	}
}

.episode-tease__left {
	margin-right: $spacing/2;
	position: relative;
	flex-shrink: 0;

	& a:hover, &:focus, &:active {
		opacity: 0.7;
	}
	@include mq-xsmall-max {
		margin: 0 0 $spacing/3 0;
	}
}

.episode-tease__image {
	width: 100%;
}

.episode-tease__number {
	background-color: $brand-primary;
	color: white;
	font-family: $font-family-condensed;
	font-size: 30px;
	line-height: 30px;
	text-transform: uppercase;
	padding: 7px 12px;
	display: inline-block;
	position: absolute;
	left: 0;
	bottom: 0;
}

.episode-tease__right {
	flex-grow: 1;
	flex-shrink: 1;
}

/**
 * Single Episode
 */

.episode-number {
	background-color: $brand-primary;
	color: white;
	font-family: $font-family-condensed;
	font-size: 30px;
	line-height: 30px;
	text-transform: uppercase;
	padding: 7px 12px;
	display: inline-block;
}

.episode-number--circle {
	border-radius: 50%;
	width: 70px;
	height: 70px;
	text-align: center;
	line-height: 70px;
	padding: 0;
	margin-bottom: $spacing/2;
}

.player-section {
	margin: $spacing/2 0 $spacing 0;
}

.episode-player {
	margin-bottom: $spacing/1.5;
}

.subscribe-links {
	font-family: $font-family-sans-serif;
	text-transform: uppercase;
	font-size: 13px;
	color: $brand-primary;
	letter-spacing: 2px;
	font-weight: 600;
	margin: 0 0 $spacing/3 0;
	text-align: center;
	margin-bottom: $spacing/1.5;
}

.subscribe-link {
	display: inline-block;
	&:hover, &:active, &:focus {
		color: black;
		text-decoration: none;
	}
	&:not(:last-child){
		&:after {
			content: '·';
			display: inline-block;
			padding: 0 0.6em;
		}
	}
}

/**
 * Home Page
 */

.home-intro {
	text-align: center;
	padding-bottom: 0;
}

.home-intro__title {
	text-transform: uppercase;
	font-size: 40px;
}

.home-intro__image {
	box-shadow: 0 5px 15px rgba(black, 0.2);
}

/**
 * Bio Section
 */

.bio {
	padding: 0;
	color: white;
	background-color: $brand-primary;
	position: relative;

	clip-path: polygon(
	  0 20%, /* left top */
	  100% 0%, /* right top */ 
	  100% 100%, /* right bottom */
	  0 100% /* left bottom */
	);

	@include mq-xsmall-max {
		background-image: url('../assets/img/footer-portrait.png');
		background-size: cover;
		clip-path: polygon(
		  0 10%, /* left top */
		  100% 0%, /* right top */ 
		  100% 100%, /* right bottom */
		  0 100% /* left bottom */
		);
	}

}

.bio__inner {
	background-image: url('../assets/img/footer-portrait.png');
	background-size: contain;
	background-repeat: no-repeat;
	transform: translateX(-$spacing*3);
	@include mq-xsmall-max {
		background-size: cover;
		transform: none;
		background-image: none;
	}
}

.bio__body {
	padding: $spacing*1.5 0 $spacing $spacing*4;
	transform: translateX($spacing*3);
	@include mq-xsmall-max {
		transform: none;
		padding: $spacing*2 0 $spacing/2 0;
		text-align: center;
	}
}

.bio__overline {
	font-style: italic;
	margin-bottom: 10px;
	@include mq-xsmall-max {
		display: none;
	}
}

.bio__title {
	margin: 0 0 $spacing/6 0;
	font-size: 60px;
	text-transform: uppercase;
	@include mq-xsmall-max {
		font-size: 40px;
	}
}

.bio__text {
	margin-bottom: $spacing/3;
	@include mq-xsmall-max {
		display: none;
	}
}

/**
 * Link List
 */

.link-list {

}

.link-list__link {
	font-family: $font-family-sans-serif;
	font-weight: 600;
	font-size: 13px;
	color: white;
	text-transform: uppercase;
	letter-spacing: 2px;
	border-bottom: 2px solid rgba(white, 0.3);
	display: inline-block;
	&:not(:last-child){
		margin-right: $spacing/6;
	}
	&:hover, &:active, &:focus {
		text-decoration: none;
		color: white;
		border-color: rgba(white, 0.7);
	}

}

