/////////////////
// Mobile Menu //
/////////////////

.mobile-drawer {
	position: fixed;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	overflow: hidden;
	pointer-events: none;
	z-index: $mobile-drawer-zindex;
}

/* If browsers don't support pointer events, move it back */
.no-csspointerevents .mobile-drawer {
	visibility: hidden;
}

/* active state */
.mobile-drawer.js-active {
	pointer-events: auto;
}
.no-csspointerevents .mobile-drawer.js-active {
	visibility: visible;
}

/* Darkened background */
.mobile-drawer::before {
	@include absolute-cover;
	background: rgba(black, 0.4);
	content: '';
	display: block;
	opacity: 0;
	will-change: opacity;
	pointer-events: none;
	transition: opacity 0.3s ease;
}

/* active state of background */
.js-active.mobile-drawer::before {
	opacity: 1;
	pointer-events: auto;
}

.mobile-menu {
	background-color: $gray-lighter;
	color: white;
	height: 100%;
	width: 90%;
	max-width: 275px;
	overflow-y: auto;
	pointer-events: auto;
	padding: $line-height-computed*2 $line-height-computed;
	position: absolute;
	right: 100%;
	transform: translateX(0);
	will-change: transform;
	z-index: $mobile-menu-zindex;
}

/* admin bar adjustments for mobile menu */
.admin-bar {
	.mobile-menu {
		margin-top: 32px;

		@media (max-width: 782px) {
			margin-top: 46px;
		}
	}
}

/* active state */
.mobile-drawer.js-active .mobile-menu {
	transform: translateX(100%);
	transition: all 0.35s ease-out;
	box-shadow: 0 2px 6px rgba(black, 0.5);
}

/* animating out state */
.mobile-drawer .mobile-menu {
	transition: all 0.15s ease-in;
}

/* Mobile Menu Link styles */
.mobile-menu__link {
	display: block;
	font-size: $font-size-large;
}

/* Close Button for mobile menu */
.mobile-menu__close {
	@include remove-button-styles;
	position: absolute;
	top: 0;
	right: 0;
	font-size: $font-size-h3;
	padding: 0.5em;
	opacity: 0.6;
	transition: $transition;
	&:hover, &:focus {
		opacity: 1;
	}
}

/* Mobile Menu Trigger */
.mobile-trigger {
	@include remove-button-styles;
	float: right;
}