<header class="main-header" id="main-header">

	<div class="container-fluid">

		{% block header_logo %}

			<div class="header-logo">

				<div class="header-logo__left">
					<a href="{{ site.url }}" rel="home">
						<img class="main-header__logo" src="{{ theme.link }}/assets/img/logo.png" alt="{{ site.name }}" role="banner">
					</a>
				</div>

				<div class="header-logo__right">
					<div class="header-logo__tagline">
						Stories from older generations <br />
						Insight into the world today
					</div>
				</div>

			</div>

		{% endblock %}

	</div>

</header>