{% block html_head_container %}

	{% include 'head/html-header.twig' %}

	{% block head %}
	{% endblock %}

	{% if open_graph %}
		{% include 'head/open-graph.twig' with {'open_graph': open_graph} only %}
	{% endif %}

	{% if twitter_cards %}
		{% include 'head/twitter-cards.twig' with {'twitter_cards': twitter_cards} only %}
	{% endif %}

	{% if schema %}
		<!-- Schema.org Data -->
		{{ schema }}
	{% endif %}

	{{ site_options.tracking_codes|raw }}

	</head>

{% endblock %}

	<body class="{{body_class}}" data-template="base.twig">

		{% include 'components/mobile-menu.twig' %}

		{% block header_container %}
			{% include 'header/header.twig' %}
		{% endblock %}

		<main id="main" role="main" class="main">

			{% block content %}
				Sorry, nothing here.
			{% endblock %}

		</main>

		{% block bio_container %}

			<div class="bio section section--dark">

				<div class="container-fluid">

					<h3 class="bio__title">
						Michelle Harven
					</h3>

					<div class="bio__text">
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse eu elit lectus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae.
					</div>

					<div class="links-list">

						<a href="mailto:michelle.harven@gmail.com" class="link-list__link">
							michelle.harven@gmail.com
						</a>

						<a href="http://twitter.com" class="link-list__link">
							Twitter
						</a>

						<a href="http://facebook.com" class="link-list__link">
							Facebook
						</a>

					</div>

				</div>

			</div>

		{% endblock %}

		{% block footer_container %}

			{% include 'footer/footer.twig' %}

			{{ function('wp_footer') }}

		{% endblock %}

	</body>
</html>