{% extends 'single.twig' %}

{% block header_logo %}{% endblock %}

{% block single_overline %}

	<div class="episode-number episode-number--circle">
		No. {{ post.number }}
	</div>

{% endblock %}

{% block single_meta %}

	<div class="single-meta">

		<div class="single-meta__item">
			{{ post.date }}
		</div>

		<div class="single-meta__item">
			{{ post.length }}
		</div>

	</div>

{% endblock %}

{% block single_before_main %}

	<div class="container-fluid">

		<div class="row">

			<div class="col-md-10 col-md-offset-1">

				<div class="player-section">

					<div class="episode-player">

						{{ post.player_embed|raw }}

					</div>

					<div class="subscribe-links">

						<a href="https://www.buzzsprout.com/171613.rss" class="subscribe-link">
							<i class="fa fa-rss"></i> RSS
						</a>

						<a href="https://itunes.apple.com/us/podcast/legacy/id1373613166" class="subscribe-link">
							<i class="fa fa-music"></i> iTunes
						</a>

{# 						<a href="#" class="subscribe-link">
							<i class="fa fa-google"></i> Google Play
						</a> #}

						<a href="https://overcast.fm/itunes1373613166/legacy" class="subscribe-link">
							<i class="fa fa-plus"></i> Overcast
						</a>

{# 						<a href="#" class="subscribe-link">
							<i class="fa fa-plus"></i> Pocketcasts
						</a> #}

					</div>

				</div>

			</div>

		</div>

	</div>

{% endblock %}